.hero {
  background-image: url('https://images.unsplash.com/photo-1510915361894-db8b60106cb1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3270&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: hsla(232, 46%, 22%);
  background-blend-mode: overlay;
  display: grid;
  place-items: center;
  height: 100vh;
  padding: 5rem;
}

.hero__heading {
}

#hero-session-card {
  width: 300px;
}

.hero__heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

@media screen and (max-width: 1000px) {
  .hero__heading-container {
    flex-direction: column;
    gap: 5rem;
  }
}

.hero__headline {
  font-size: clamp(72px, 8vw + 1rem, 80px);
  font-weight: 900;
  color: var(--primary-200);
  letter-spacing: -2px;
  margin-bottom: 1rem;
  width: fit-content;
}

.hero__subheading {
  font-size: clamp(24px, 8vw + 1rem, 32px);
  font-weight: 300;
  width: 540px;
  color: var(--primary-200);
}

/* @media (max-width: ) */

.hero__action-btn {
  font-size: 20px;
  padding: 1rem 2rem;
  margin-top: 2rem;
  background-color: var(--primary-500);
  color: var(--primary-100);
}
