.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary-500);
}

.navbar__logo-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.navbar__app-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-100);
}

.navbar__action-btn-container {
  display: flex;
  gap: 1rem;
}

.navbar__action-btn-container button {
  background-color: var(--primary-200);
  color: var(--primary-800);
}

.navbar__logo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--primary-400);
}
