.user-info-card {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 5rem;
  border-radius: 1rem;
  background-color: var(--primary-400);
  background-color: hsl(223, 57%, 76%);
  border: 1px solid var(--primary-900);
}

.user-info-card__img-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid var(--primary-900);
}

.user-info-card__info {
  border: 1px solid var(--primary-900);
  background-color: var(--primary-100);
  border-radius: inherit;
  padding: 1rem;
  width: 300px;
  height: 200px;
}

.user-info-card__info > section {
  padding: 0.5rem;
  border-radius: 8px;
}

.user-info-card__info > section > p {
  font-size: 18px;
}

.num-tag {
  font-weight: 300;
  font-size: 24px;
  color: var(--primary-500);
  margin-right: 3px;
  position: relative;
  top: 1.5px;
}

.num-count {
  font-weight: 900;
  font-size: 20px;
  color: var(--primary-500);
}

.user-info-card__info > section:nth-child(odd) {
  background-color: var(--primary-200);
}

@media screen and (max-width: 735px) {
  .user-info-card {
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  .user-info-card {
    padding: initial;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 300px;
  }

  .user-info-card__info {
    width: auto;
  }
}
