.login-page {
  display: flex;
  height: 100vh;
}

.login-page__main-section {
  display: grid;
  place-items: center;
  flex-grow: 2;
  background-color: hsl(246, 0%, 99%);
}

.login-page__sidebar {
  background-color: var(--primary-900);
  height: 100vh;
  width: 22%;
}

@media (max-width: 675px) {
  .login-page__sidebar {
    display: none;
  }
}
