.metronome {
  width: 800px;
  height: 400px;
  border-radius: 16px;
  background-color: hsl(238, 20%, 77%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

.playbutton {
  height: 150px;
  width: 150px;
  background-color: hsl(213, 100%, 50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 100ms ease-in-out;
}

.playbutton:hover {
  transform: scale(1.03);
}

.playbutton > i {
  font-size: 60px;
  color: hsl(238, 20%, 80%);
}

.playbutton > i.fa-play {
  margin-left: 10px;
}

.bpm-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.bpm-container__wrapper {
  flex-basis: 162px;
}

.bpm-container__bpm {
  font-size: 64px;
  margin-right: 0.2rem;
}

.bpm-container__bpm-label {
  font-size: 24px;
}

.bpm-slider-container {
  width: 85%;
  margin: 0 auto;
}

.bpm-slider {
  display: flex;
  align-items: center;
}

.bpm-slider > input {
  width: 75%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.bpm-slider :not(input):hover {
  cursor: pointer;
  transform: scale(1.1);
}

.bpm-slider :not(input) {
  transition: transform 200ms ease-in-out;
  font-size: 36px;
}
