{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "printWidth": 95,
  "bracketSpacing": true,
  "singleAttributePerLine": false,
  "quoteProps": "as-needed"
}
