.create-goal-modal {
  padding: 1rem;
}

.create-goal-form__type-section {
  display: flex;
  gap: 3rem;
}

.create-goal-form label {
  display: block;
  font-size: var(--font-size-700);
  margin-bottom: 0.3rem;
  color: var(--primary-900);
}

#goal-instrument-type,
#goal-target-date,
#create-goal-multiple-inst-type {
  padding: 0.3rem;
  border-radius: 8px;
  background-color: var(--primary-100);
  border: none;
}

.create-goal-form__multiple-same-type-section {
  margin-top: 1rem;
}

.create-goal-form__description-section {
  margin-top: 2rem;
}
.create-goal-form__description {
  border-radius: 8px;
  border: none;
  height: 100px;
  width: 100%;
  resize: none;
  padding: 0.3rem;
  background-color: var(--primary-100);
}

.create-goal-form__btn-section {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.create-goal-form__create-goal-btn {
  background-color: var(--primary-500);
  color: var(--primary-white);
}
