.hero {
  background-color: var(--primary-100);
  height: 100vh;
  padding: 30rem;
}

.hero__heading {
  height: 50%;
}

#hero-session-card {
  width: 300px;
}

.hero__heading-container {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.hero__headline {
  font-size: 60px;
  font-weight: 900;
  color: var(--primary-700);
  letter-spacing: -2px;
  margin-bottom: 1rem;
  width: fit-content;
}

.hero__subheading {
  font-size: 25px;
  font-weight: 300;
  color: var(--primary-500);
  width: 60%;
}

.hero__action-btn {
  font-size: 20px;
  padding: 1rem 2rem;
  margin-top: 2rem;
  background-color: var(--primary-500);
  color: var(--primary-100);
}

.landing-page img {
  width: 300px;
  height: 300px;
}

.instruments-section,
.sessions-section,
.goals-section {
  display: grid;
  place-items: center;
  height: 50vh;
}

.instruments-section__content-container,
.sessions-section__content-container,
.goals-section__content-container {
  display: flex;
  justify-content: space-around;
}

.instruments__headline,
.sessions__headline,
.goals__headline {
  font-size: 45px;
  font-weight: 900;
  letter-spacing: -1px;
  width: 50%;
  color: var(--primary-800);
  margin-bottom: 16px;
}

.subheading {
  font-size: 35px;
  width: 50%;
  color: var(--primary-700);
  font-weight: 300;
}

.fade.show-text {
  animation: text-opacity 1000ms ease-in-out;
}

.fade.show-img {
  animation: img-transform 1000ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes text-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes img-transform {
  from {
    opacity: 0;
    transform: translateX(500px);
  }
  to {
    transform: translateX();
    opacity: 1;
  }
}

.landing-page__footer {
  height: 400px;
  background-color: var(--primary-500);
}
