.hero {
  background-color: var(--primary-700);
  height: 100vh;
  padding: 30rem;
}

.hero__heading {
  height: 50%;
}

#hero-session-card {
  width: 300px;
}

.hero__heading-container {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.hero__headline {
  font-size: 60px;
  font-weight: 900;
  color: var(--primary-100);
  letter-spacing: 4px;
  margin-bottom: 1rem;
  width: fit-content;
}

.hero__subheading {
  font-size: 25px;
  font-weight: 300;
  color: var(--primary-300);
  width: 60%;
}

.hero__action-btn {
  font-size: 20px;
  padding: 1rem 2rem;
  margin-top: 2rem;
}

.landing-page img {
  width: 300px;
  height: 300px;
}

.instruments-section,
.sessions-section,
.goals-section {
  display: grid;
  place-items: center;
  height: 75vh;
  border-top: 2px solid red;
}

.instruments-section__content-container,
.sessions-section__content-container,
.goals-section__content-container {
  display: flex;
  justify-content: space-around;
  border: 2px solid blue;
}

.instruments__headline,
.sessions__headline,
.goals__headline {
  font-size: 45px;
  font-weight: 900;
  letter-spacing: 1px;
  width: 50%;
}

.subheading {
  font-size: 35px;
  width: 50%;
}
