.instrument-card section i {
  font-size: 18px;
  color: var(--primary-400);
}

.instrument-card__header {
  display: flex;
  justify-content: space-between;
}

.instrument-card__edit-btn:hover {
  color: var(--primary-500);
}

.instrument-card__delete-btn:hover {
  color: hsl(0, 70%, 61%);
}

.instrument-card__img-container {
  height: 150px;
  border-radius: 8px;
  margin-top: 0.6rem;
}

.instrument-card__type-section > div,
.instrument-card__category-section > div,
.instrument-card__model-section > div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 0.66rem;
}

.instrument-card__model {
  position: relative;
  right: 3.5px;
}

@media (max-width: 400px) {
  .instrument-card__type-section,
  .instrument-card__category-section,
  .instrument-card__model-section {
    display: none;
  }
}
