.end-session-modal {
  padding: 2rem;
  width: 300px;
}

.end-session-modal__btn-container {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
  justify-content: flex-end;
}

.end-session-modal__btn {
  background-color: var(--primary-red);
  color: var(--primary-white);
}
