.goal-card__header {
  display: flex;
  justify-content: space-between;
}

.goal-card section i {
  font-size: 18px;
  color: var(--primary-400);
}

.goal-card__edit-btn:hover {
  color: var(--primary-500);
}

.goal-card__delete-btn:hover {
  color: hsl(0, 70%, 61%);
}

.goal-card__info-section {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.goal-card__info-section > div {
  display: flex;
  gap: 7px;
}

.goal-card__description-section {
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--primary-200);
  border-radius: inherit;
}

.goal-card__days-remaining-section {
  text-align: center;
  margin-top: 2rem;
}
