.create-instrument-modal {
  padding: 2rem;
}

.create-instrument-form label {
  display: block;
  margin-bottom: 3px;
}

.create-instrument-form__img-section {
  display: flex;
}

input[type='file'] {
  display: none;
}

.create-instrument-form__img-file-name {
  border-radius: 8px 0 0 8px;
  height: 30px;
  padding: 0.3rem 0.6rem;
  overflow: hidden;
  width: 10rem;
  display: block;
  background-color: var(--primary-100);
}

.create-instrument-form__img-section label {
  border-left: none;
  border-radius: 0 8px 8px 0;
  display: inline-block;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  width: fit-content;
  height: 30px;
  background-color: var(--primary-500);
  color: var(--primary-white);
}

.create-instrument-form__img-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--primary-400);
}

#create-instrument-image,
#create-instrument-type,
#create-instrument-category,
#create-instrument-model {
  padding: 0.3rem;
  border-radius: 8px;
  background-color: var(--primary-100);
  border: none;
}

.create-instrument-form__type-section {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
}

.create-instrument-form__model-section {
  margin-top: 2rem;
}

.create-instrument-form__btn-section {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.create-instrument-form__create-btn {
  background-color: var(--primary-500);
  color: var(--primary-white);
}

#create-instrument-type,
#create-instrument-category {
  width: 132px;
}

#create-instrument-model {
  width: 100%;
}
