.signup-form > section:not(:last-child) {
  margin-bottom: 1rem;
}

.signup-form [type='file'] {
  display: none;
}

.signup-form__img-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form__img-section > div:nth-child(1) {
  margin-bottom: 0.3rem;
}

.signup-form__img-section > div:nth-child(2) {
  display: flex;
}

.optional {
  font-size: 13px;
  font-weight: 300;
}

.signup-form__img-file-name {
  border-radius: 8px 0 0 8px;
  height: 30px;
  padding: 0.3rem 0.6rem;
  overflow: hidden;
  width: 10rem;
  background-color: var(--primary-100);
}

.signup-form__img-section label {
  border-left: none;
  border-radius: 0 8px 8px 0;
  display: inline-block;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  width: fit-content;
  height: 30px;
  background-color: var(--primary-600);
  color: var(--primary-white);
}

.signup-form__img-section label:hover {
  background-color: var(--primary-500);
}

.signup-form__input--style {
  border: none;
  outline: none;
  height: 2.7rem;
  border-radius: 8px;
  background-color: var(--primary-100);
  padding: 0.4rem;
  width: 100%;
  transition: outline 150ms ease-in-out;
}

.signup-form__input--style:focus {
  outline: 1.5px solid var(--primary-400);
}

.signup-form__btn-section {
  display: flex;
  justify-content: center;
}

.signup-form__signup-btn {
  background-color: var(--primary-600);
  color: var(--primary-100);
  margin-top: 1rem;
  transition: background-color 100ms ease-in-out;
}

.signup-form__signup-btn:hover {
  background-color: var(--primary-500);
}
