.signup-form > section:not(:last-child) {
  margin-bottom: 1rem;
}

.signup-form__profile-pic {
  border-radius: 50%;
}

.signup-form label[for] {
  color: hsl(0, 5%, 17%);
  font-size: 14px;
  margin-bottom: 0.2rem;
  display: block;
}

.signup-form__input--style {
  border: none;
  outline: none;
  height: 2.7rem;
  border-radius: 8px;
  background-color: var(--primary-100);
  padding: 0.4rem;
  width: 100%;
  transition: outline 150ms ease-in-out;
}

.signup-form__input--style:focus {
  outline: 1.5px solid var(--primary-400);
}

.signup-form__btn-section {
  display: flex;
  justify-content: center;
}

.signup-form__signup-btn {
  background-color: var(--primary-400);
  color: var(--primary-100);
  margin-top: 1rem;
}

.signup-form__img-container {
  border-radius: 50%;
  height: 125px;
  width: 125px;
  margin: 0 auto;
  background-color: var(--primary-300);
  margin-bottom: 1rem;
}

.signup-form__profile-pic {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
