.user-dashboard__header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.user-dashboard__user-info-section {
  display: flex;
  justify-content: center;
}

.user-dashboard__sidebar {
  width: 400px;
  height: 100vh;
  background-color: var(--primary-500);
  position: absolute;
  top: 0;
  transform: translateX(-400px);
  opacity: 0;
  transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
  z-index: 10;
}

.user-dashboard__sidebar.show {
  opacity: 1;
  transform: translateX(0);
  transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
}

.user-dashboard__view-selection-section {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.user-dashboard__view-selection {
  display: flex;
  gap: 5rem;
}

.user-dashboard__content-section {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.user-dashboard__content-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  min-width: 1024px;
  gap: 3rem;
}

.overlay {
  background-color: hsl(246, 0%, 0%, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: overlay 400ms ease-in-out;
}

@keyframes overlay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
