.edit-goal-modal {
  padding: 2rem;
}

.edit-goal-form__type-section {
  display: flex;
  gap: 3rem;
}

.edit-goal-form label {
  display: block;
  margin-bottom: 3px;
  font-size: var(--font-size-700);
}

#edit-goal-instrument-type,
#edit-goal-multiple-same-type,
#edit-goal-target-date {
  padding: 0.3rem;
  border-radius: 8px;
  background-color: var(--primary-100);
  border: none;
}

.edit-goal-form__date-input {
  width: 136px;
}

.edit-goal-form__multiple-same-type-section {
  text-align: center;
  margin-top: 1rem;
  animation: fade-in-opacity 500ms ease-in-out;
}

.edit-goal-form__description-section {
  margin-top: 2rem;
}

.edit-goal-form__description {
  border-radius: 8px;
  border: none;
  height: 100px;
  width: 100%;
  resize: none;
  padding: 0.3rem;
  background-color: var(--primary-100);
}

.edit-goal-form__btn-section {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.edit-goal-form__update-goal-btn {
  background-color: var(--primary-600);
  color: var(--primary-white);
}

@media (max-width: 375px) {
  .edit-goal-modal {
    padding: 1.2rem;
  }
}
