.edit-instrument-modal {
  padding: 2rem;
}

.edit-instrument-form label {
  display: block;
  margin-bottom: 3px;
}

.edit-instrument-form__img-section {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.edit-instrument-form [type='file'] {
  display: none;
}

.edit-instrument-form__img-file-name {
  border-radius: 8px;
  height: 30px;
  padding: 0.3rem 0.6rem;
  overflow: hidden;
  width: 10rem;
  display: block;
  background-color: var(--primary-100);
  margin-bottom: 0.3rem;
}

.edit-instrument-form__img-section label {
  border-radius: 8px;
  display: inline-block;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  width: fit-content;
  height: 30px;
  background-color: var(--primary-600);
  color: var(--primary-white);
  margin-left: 2px;
}

.edit-instrument-form__img-section label:hover {
  background-color: var(--primary-500);
}

.edit-instrument-form__img-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--primary-400);
}

#edit-instrument-image,
#edit-instrument-type,
#edit-instrument-category,
#edit-instrument-model {
  padding: 0.3rem;
  border-radius: 8px;
  background-color: var(--primary-100);
  border: none;
}

.edit-instrument-form__type-section {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
}

.edit-instrument-form__model-section {
  margin-top: 2rem;
}

.edit-instrument-form__btn-section {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.edit-instrument-form__update-btn {
  background-color: var(--primary-600);
  color: var(--primary-white);
}

#edit-instrument-type,
#edit-instrument-category {
  width: 132px;
}

#edit-instrument-model {
  width: 100%;
}

@media (max-width: 375px) {
  .edit-instrument-form > section {
    flex-direction: column;
  }
}
